.main-nav {
  background-color: #014aa4;
  width: 100%;
  height: 80px;
  display: flex;
  }
  .titulo{
    color: #FFFFFF;
    padding-top: 20px;
    margin-left: 40px;
    font-size: 18px;
  }
  .paragrafo{
    color: #FFFFFF;
    padding-top: 25px;
    margin-left: 275px;
    font-size: 12px;
  }
 
  @media (min-width: 576px) {
    .titulo{
      color: #FFFFFF;
      padding-top: 20px;
      margin-left: 40px;
      font-size: 25px;
    }
    .paragrafo{
      color: #FFFFFF;
      padding-top: 25px;
      margin-left: 275px;
      font-size: 18px;
    }
  } 

  @media (min-width: 768px) {
    .titulo{
      color: #FFFFFF;
      padding-top: 20px;
      margin-left: 40px;
      font-size: 35px;
    }
    .paragrafo{
      color: #FFFFFF;
      padding-top: 25px;
      margin-left: 275px;
      font-size: 28px;
    }
  }  